<div class="container">
 <h1>All our Flats</h1>
 <div class="card-deck">
  <% @flats.each do |flat| %>
   <div class="card-body m-2 p-0 rounded">
    <div class="incard p-1">
     <h3><%= flat.name  %></h3>
     <p><%= flat.address  %></p>
     <div class="options">
      <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests  %></p>
      <p><i class="fas fa-euro-sign ml-2"></i> <%= flat.price_per_night  %></p>
     </div>
    </div>
    <div class="more-info p-2">
     <%= link_to  "More info", flat_path(flat), class: 'text-info' %>
     <%= link_to  "Edit", edit_flat_path(flat), class: 'text-warning' %>
     <%= link_to 'Delete', flat_path(flat),
         method: :delete,
         data: { confirm: 'Are you sure?' },
         class: 'text-danger' %>
    </div>
   </div>
  <% end %>
 </div>

</div>