<div class="container">
 <h1>All our Flats</h1>
 <div class="cards-container">
  <% @flats.each do |flat| %>
   <div class="card">
    <h3><%= flat.name  %></h3>
    <p><%= flat.address  %></p>
    <div class="options">
     <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests  %></p>
     <p><i class="fas fa-euro-sign ml-2"></i> <%= flat.price_per_night  %></p>
    </div>
    <div class="more-info">
     <%= link_to  "More info", flat_path(flat) %>
    </div>
   </div>
  <% end %>
 </div>

</div>