<div class="container">

 <div class="info">
  <h2><%= @flat.name  %></h1>
   <p><%= @flat.address  %></p>
 </div>

 <div class="info">
  <h2>A little bit more about this flat</h2>
  <p><%= @flat.description  %></p>
 </div>

 <div class="info">
  <h2>Details</h2>
  <div class="options">
   <p><i class="fas fa-user-friends"></i> <%= @flat.number_of_guests  %></p>
   <p><i class="fas fa-euro-sign ml-2"></i> <%= @flat.price_per_night  %></p>
  </div>
 </div>

 <div class="link-container mt-2">
  <a class="btn btn-primary" href="/flats" role="button">Home</a>
  <%= link_to  "Edit", edit_flat_path(@flat), class: 'btn btn-primary' %>
       <%= link_to 'Delete', flat_path(@flat),
         method: :delete,
         data: { confirm: 'Are you sure?' },
         class: 'btn btn-primary' %>
 </div>
</div>